@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #09090b;
    color: #e4e4e7;
    font-family: 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', monospace;
}